.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrap {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
}
.wrap img {
  max-width: 100%;
}
#logo {
  color: #fff;
  text-align: center;
}
.header-nav {
  display: inline-block;
  line-height: 62px;
  background: none;
  border: none;
  margin-left: 30px;
}
.header-nav .ant-menu-item a {
  color: #fff;
}
.header-nav .ant-menu-item-selected a {
  color: #1890ff;
}
.ant-menu-root.ant-menu-vertical {
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.ant-divider, .ant-divider-vertical {
  margin: 0;
}
.ant-layout-header {
  padding: 0;
}
.main {
  flex: 1;
}

#indexMenu {
  text-align: center;
  box-shadow: none;
  border-right: none;
}
.listTitle {
  margin-bottom: 0;
}
@media all and (max-width: 767px) {
  /* 首页小屏模式下menu */
  #indexMenu {
    display: flex;
    border-bottom: 1px solid #ccc;
  }
  #indexMenu li {
    flex: 1;
    margin: 0;
    border-bottom: 3px solid rgba(0,0,0,0)
  }
  #indexMenu .ant-menu-item::after {
    border-right: none;
  }
  #indexMenu li:hover,
  #indexMenu .ant-menu-item-selected {
    border-bottom-color: #1890ff;
  }
  /* 用户详情页 */
  .listTitle {
    display: block;
    width: 100%;
  }
}
